name: GitHub Go CI
on:
  push:
    branches: ["main"]
    paths: ["**.go"]
  pull_request:
    branches: ["main"]
    paths: ["**.go"]
    types: ["edited", "opened"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - uses: actions/setup-go@v6
      with:
        go-version: "stable"
    - env:
        GOOS: "darwin"
      name: Lint (darwin)
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
    - env:
        GOOS: "linux"
      name: Lint (linux)
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
    - env:
        GOOS: "windows"
      name: Lint (windows)
      uses: golangci/golangci-lint-action@v8
      with:
        version: latest
    - name: Build
      run: make
    - name: Update
      run: ./build/linux/amd64/arTTY -u
    - name: Test coverage
      run: make cover
